<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
             user: current_user
        ).html_safe %>

        window.servers = <%= render(
            "api/users/servers.json.jbuilder",
            user: current_user
        ).html_safe %>

        window.userServers = <%= render(
            "api/users/user_servers.json.jbuilder",
            user: current_user
        ).html_safe %>

        window.channels = <%= render(
            "api/users/channels.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>

<script>
    window.discordLogo = "<%= image_url("logo.png") %>"
    window.splashBackground= "<%= image_url("splash-wallpaper.jpg")%>"
    
</script>
<main id="root"></main>